# Python
__pycache__/
*.py[cod]
*.pyo

# Temporary files
*~
*.tmp
*.temp
Thumbs.db
.DS_Store

# ANSYS result files (too large, stored on Baidu Netdisk)
*.rst
*.full
*.mechdb
*.mode
*.esav
*.db
*.PCS
*.gst
*.mntr
*.aapresults
*.engd
*.lock
*.7z.*
